# Virtual environment
venv/

# Ignore the SQLite database file
app/app.db

# Ignore Python cache files
__pycache__/
*.py[cod]

app/__pycache__/
app/*.py[cod]

# Database files
*.db

# Environment variables
.env

# IDE and editor configurations
.vscode/
.idea/

# Logs
*.log